.movieCard {
  margin: 30px 50px;
  background-color: #eaeded;
  width: 200px;
  text-align: center;
  border-radius: 7px;
  transition: 0.3s ease-in;
}
.movieCard:hover {
  transform: scale(1.1);
}
.movieCard-img img {
  width: 100%;
  height: 300px;
  border-radius: 7px;
}
.notfound {
  width: 200px;
  height: 300px;
  background-color: #34495e;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.add-btn,
.ok-btn {
  width: 90px;
  font-size: 17px;
  margin-right: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 4px;
}
.add-btn {
  background-color: #34495e;
  color: white;
  transition: 0.2s ease-in;
}
.ok-btn {
  background-color: #8e44ad;
  color: white;
}
.add-btn:hover {
  background-color: white;
  color: #34495e;
}
.ok-btn:hover {
  background-color: white;
  color: #8e44ad;
}
.movie-content p {
  margin: 3px 0;
}
.message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 255, 0, 0.7); /* Yeşil renkte bir arka plan */
  padding: 10px;
  color: #fff; /* Beyaz renkte metin */
  font-size: 16px;
  font-weight: bold;
  display: none;
}

.show-message {
  display: block;
}
